@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

body {
    font-family: 'Jost', sans-serif;
    background: url('https://github.com/Ekon0/uzatu_toi/blob/main/IMG-20250402-WA0008.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: #4a2c10;
    margin: 0;
    padding: 0;
}

/* Контейнер ішіндегі фонды мөлдір қылу */
.container {
    max-width: 750px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.9); /* Ақшыл мөлдір фон */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 8px solid #c69c6d;
    position: relative;
}
